@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jockes application</h1>
    <p>the foremost authority for good humor that you'll find anywhere on your localhost'</p>
</div>
